.Home{
  background-image: url(../images/imge.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
  padding-top: 5vh;
  text-align: center;
  font-style: italic;
  padding-bottom: 75vh;
}
.projects{
background-color: blueviolet;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 20px 20px #526066;
  text-align: center;
}